flask
flask_wtf
flask_cors
flask_socketio
flask_migrate
flask_bcrypt
flask_jwt_extended
flask_login
flask_restful
flask_mail
flask-marshmallow
marshmallow-sqlalchemy
flask_sqlalchemy
psycopg2-binary
mysqlclient
sqlalchemy
python-dotenv
pymysql
datetime
celery
gunicorn
