<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://media.istockphoto.com/id/519792694/vector/builder-in-hard-hat-and-glasses-foreman-icon.jpg?s=612x612&w=0&k=20&c=PHqO162V0-jtpZ5t51_LbXH7AGUPpg_Ge6HirE6vUrc=">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Dashboard</title>
</head>
<body>
    <header>
        <h1>Welcome to Your Dashboard!</h1>
        <h3>
            Email:
            <script>
                document.write(localStorage.getItem("email"));
            </script>
        </h3>
        <button onclick="logout()" style="float: right;" id="logout-button">Logout</button>
    </header>
    <section>
        <h2>Your Tasks</h2>
        <ul id="tasksList">
            <!-- Task list will be dynamically populated by the script -->
        </ul>
    </section>

    <section>
        <h2>Create a New Task</h2>
        <form id="create-task-form">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>

            <label for="description">Description:</label>
            <textarea id="description" name="description"></textarea>

            <label for="due_date">Due Date:</label>
            <input type="date" id="due_date" name="due_date">

            <label for="priority">Priority:</label>
            <select id="priority" name="priority">
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
            </select>

            <label for="status">Status:</label>
            <select id="status" name="status">
                <option value="incomplete">Incomplete</option>
                <option value="completed">Completed</option>
            </select>

            <button type="button" onclick="createTask()">Create Task</button>
        </form>
    </section>

    <footer>
        <p>© 2023 TaskMaster</p>
    </footer>
    <script src="/static/js/script.js"></script>
</body>
</html>
