<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/about.css">
    <link rel="icon" href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fillustrations%2Ftaskmaster&psig=AOvVaw20brz0hXXEMADnH6MsZBBT&ust=1702073046519000&source=images&cd=vfe&ved=0CBIQjRxqFwoTCJCrp62q_oIDFQAAAAAdAAAAABAE">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/static/js/script.js"></script>
    <title>About Us</title>
</head>
<body>
    <div class="heading">
        <h3>Our Mission</h3>
        <br>
        <p>Welcome to TaskMaster, where we believe in transforming the way individuals and teams approach task management. Our mission is to empower you to achieve your goals with efficiency and simplicity.</p>
        <p>At TaskMaster, we understand that managing tasks can be a complex challenge. That's why we've crafted a user-friendly platform that seamlessly integrates into your workflow, providing you with the tools you need to conquer your tasks and elevate your productivity.</p>
        <a href="#read-more" class="read-more">Read More</a>
    </div>
</body>
</html>
