<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://media.istockphoto.com/id/519792694/vector/builder-in-hard-hat-and-glasses-foreman-icon.jpg?s=612x612&w=0&k=20&c=PHqO162V0-jtpZ5t51_LbXH7AGUPpg_Ge6HirE6vUrc=">
    <link rel="stylesheet" href="/static/css/about.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/script.js"></script>
    <title>About Us</title>
</head>
<body>
    <div class="heading">
        <h3>Our Mission</h3>
        <br>
        <p>Welcome to TaskMaster, where we believe in transforming the way individuals and teams approach task management. Our mission is to empower you to achieve your goals with efficiency and simplicity.</p>
        <p>At TaskMaster, we understand that managing tasks can be a complex challenge. That's why we've crafted a user-friendly platform that seamlessly integrates into your workflow, providing you with the tools you need to conquer your tasks and elevate your productivity.</p>
        <a href="#read-more" class="read-more">Read More</a>
    </div>
</body>
</html>
