<!DOCTYPE html>
<html lang="en">
<head>
	<title>Authentication</title>
    	<link rel="icon" href="https://media.istockphoto.com/id/519792694/vector/builder-in-hard-hat-and-glasses-foreman-icon.jpg?s=612x612&w=0&k=20&c=PHqO162V0-jtpZ5t51_LbXH7AGUPpg_Ge6HirE6vUrc=">
    	<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    	<link rel="preconnect" href="https://fonts.gstatic.com">
    	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    	<script src="https://cdn.jsdelivr.net/npm/bcryptjs/dist/bcrypt.min.js"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
    	<script src="{{ url_for('static', filename='js/auth.js') }}"></script>
</head>
<body>
	{% block content %}{% endblock %}
</body>
</html>
