<!DOCTYPE html>
<html>
<head>
    <title>Authentication</title>
    <link rel="icon" href="https://media.istockphoto.com/id/519792694/vector/builder-in-hard-hat-and-glasses-foreman-icon.jpg?s=612x612&w=0&k=20&c=PHqO162V0-jtpZ5t51_LbXH7AGUPpg_Ge6HirE6vUrc=">
    <link rel="stylesheet" href="/static/css/auth.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="inner-box" id="card">
                <div class="card-front">
                    <h2>LOGIN</h2>
                    <form class="login-form">
                        <input type="email" class="input-box" id="login-email" name="email" placeholder="Enter Email" required>
                        <input type="password" class="input-box" id="login-password" name="password" placeholder="Password" required>
                        <button type="submit" class="submit-btn">Submit</button>
                        <input type="checkbox"><span>Remember Me</span>
                    </form>
                    <button type="button" class="btn" onclick="openRegister()">New User?</button>
                    <a href="#">Forgot Password</a>
                </div>
                <div class="card-back">
                    <h2>REGISTER</h2>
                    <form class="register-form" onsubmit="saveData(); return false;">
                        <input type="text" class="input-box" id="name" name="name" placeholder="Enter Name" required>
                        <input type="email" class="input-box" id="email" name="email" placeholder="Enter Email" required>
                        <input type="password" class="input-box" id="password" name="password" placeholder="Password" required>
                        <button type="submit" class="submit-btn">Submit</button>
                        <input type="checkbox"><span>Remember Me</span>
                    </form>
                    <button type="button" class="btn" onclick="openLogin()">I have an account</button>
                    <a href="#">Forgot Password</a>
                </div>
            </div>
        </div>
    </div>
    <script></script>
</body>
</html>
