{% extends 'base.html' %}

{% block head %}
    <title>Authentication</title>
    <link rel="icon" href="https://media.istockphoto.com/id/519792694/vector/builder-in-hard-hat-and-glasses-foreman-icon.jpg?s=612x612&w=0&k=20&c=PHqO162V0-jtpZ5t51_LbXH7AGUPpg_Ge6HirE6vUrc=">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="auth">
        <div class="container">
            <div class="card" :class="{ 'flipped': isFlipped }">
                <div class="inner-box" id="card">
                    <div class="card-front">
                        <h2>LOGIN</h2>
                        <form @submit.prevent="login">
                            <input type="email" v-model="email" class="input-box" name="email" placeholder="Enter Email" required>
                            <input type="password" v-model="password" class="input-box" name="password" placeholder="Password" required>
                            <button type="submit" class="submit-btn">Submit</button>
                            <input type="checkbox"><span>Remember Me</span>
                        </form>
                        <button type="button" class="btn" @click="openRegister">Are you new?</button>
                        <a href="#">Forgot Password</a>
                    </div>
                    <div class="card-back">
                        <h2>REGISTER</h2>
                        <form @submit.prevent="register">
                            <input type="text" v-model="username" class="input-box" name="username" placeholder="Enter Username" required>
                            <input type="email" v-model="email" class="input-box" name="email" placeholder="Enter Email" required>
                            <input type="password" v-model="password" class="input-box" name="password" placeholder="Password" required>
                            <button type="submit" class="submit-btn">Submit</button>
                            <input type="checkbox"><span>Remember Me</span>
                        </form>
                        <button type="button" class="btn" @click="openLogin">I have an account</button>
                        <a href="#">Forgot Password</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: '#auth',
            data: {
                username: '',
                email: '',
                password: '',
                message: '',
                isFlipped: false,
            },
            methods: {
                openRegister() {
                    this.isFlipped = true;
                },
                openLogin() {
                    this.isFlipped = false;
                },
            },
        });
    </script>
{% endblock %}
